<% provide(:title, 'Contact') %>
<div class="jumbotron m-4">
    <h1>This is the Contact page</h1>
    <p>
        This is my twitter account:
        <a href="https://twitter.com/home">twitter.com</a>
    </p>
</div>